<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<insert id="insert" parameterType="feedFileVO">
		insert into tbl_feed_file(file_system_name, file_original_name, file_register_date, feed_id) 
		values(#{fileSystemName}, #{fileOriginalName}, now() , #{feedId})
	</insert>
	
	<select id="select" parameterType="long" resultType="feedFileVO">
		select file_id, file_system_name, file_original_name, file_register_date, feed_id
		from tbl_feed_file where feed_id = #{feedId}
	</select>
	
	<delete id="delete" parameterType="long">
		delete from tbl_feed_file where feed_id = #{feedId}
	</delete>
	
	<select id="selectfile" resultType="reviewFileVO">
		select file_id, file_original_name, file_system_name, file_register_date, review_id
		from tbl_review_file
	</select>
</mapper>