<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">
	
	<insert id="feedLikeUp" parameterType="feedLikeVO">
		insert into tbl_feed_like(feed_id, member_id)
		values(#{feedId}, #{memberId})
	</insert>

	<select id="feedLikeCheck" parameterType="feedLikeVO" resultType="long">
		select count(feed_like_id) from tbl_feed_like
		where feed_id = #{feedId} and member_id = #{memberId}
	</select>

	<delete id="feedLikeDown" parameterType="feedLikeVO">
		delete from tbl_feed_like
		where feed_id = #{feedId} and member_id = #{memberId}
	</delete>

	<select id="feedLikeCount" parameterType="long" resultType="int">
		select feed_like_count from tbl_feed where feed_id = #{feedId}
	</select>
	
	<update id="feedLikeCountUpdate" parameterType="long">
		update tbl_feed 
		set feed_like_count = (select count(feed_like_id) from tbl_feed_like e where feed_id = #{feedId})
		where feed_id = #{feedId}
	</update>
	
</mapper>