<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<select id="mypageSelect" parameterType="Long" resultType="mypageDTO">
		select member_id, member_identification, member_password, member_nickname, member_name,
		member_phone, member_email, member_birth, member_gender, member_status, profile_location, profile_job, profile_salary, 
		profile_hobby, profile_mbti, profile_height, profile_child, profile_married, coin_content, coin_register_date,
		coin_update_date, coin_count
		from view_member_profile_coin where member_id = #{memberId}
	</select>
	<update id="updateEdit" parameterType="Long" >
		update view view_member_profile
		set member_password = #{memberPassword}, member_nickname = #{memberNickname}, member_email = #{memberEmail},
		profile_location = #{profileLocation}, profile_job = #{profileJob}, profile_height = #{profileHeight},
		profile_married = #{profileMarried}, profile_child = #{profileChild}, profile_mbti = #{profileMbti},
		profile_hobby = #{profileHobby}, profile_salary = #{profileSalary}
		where member_id = #{memberId}
	</update>
</mapper>