<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sendMessage">
	<select id="selectAll" parameterType="long" resultType="sendMessageDTO">
		select member_id, message_id, member_nickname, profile_location, profile_married, message_content
		from view_send_message where member_id = #{memberId}
	</select>
	<select id="select" parameterType="long" resultType="sendMessageDTO">
		select member_id, message_id, member_nickname, profile_location, profile_married, message_content
		from view_send_message where message_id = #{messageId}
	</select>
</mapper>