<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.rewrite.member.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="com.rewrite.member.domain.MemberDTO" alias="memberDTO"/>
		<typeAlias type="com.rewrite.event.domain.EventVO" alias="eventVO"/>
		<typeAlias type="com.rewrite.feed.domain.FeedVO" alias="feedVO"/>
		<typeAlias type="com.rewrite.feed.domain.FeedDTO" alias="feedDTO"/>
		<typeAlias type="com.rewrite.feed.domain.FeedDTO" alias="feedReplyVO"/>
		<typeAlias type="com.rewrite.file.domain.FileVO" alias="fileVO"/>
		<typeAlias type="com.rewrite.file.domain.FeedFileVO" alias="feedFileVO"/>
		<typeAlias type="com.rewrite.matching.domain.MatchingVO" alias="matchingVO"/>
		<typeAlias type="com.rewrite.profile.domain.ProfileVO" alias="profileVO"/>
		<typeAlias type="com.rewrite.ranking.domain.RankingVO" alias="rankingVO"/>
		<typeAlias type="com.rewrite.review.domain.ReviewDTO" alias="reviewDTO"/>
		<typeAlias type="com.rewrite.review.domain.ReviewVO" alias="reviewVO"/>
		<typeAlias type="com.rewrite.notice.domain.NoticeVO" alias="noticeVO"/>
	</typeAliases>
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/rewrite"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/rewrite/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/feedMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/reviewMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/rankingMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/matchingMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/profileMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/eventMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/fileMapper.xml"/>
		<mapper resource="com/rewrite/mybatis/mapper/noticeMapper.xml"/>
	</mappers>
</configuration>















